{{>header}}

<body>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="form-group">
          <select class="form-control" id="service">
            <option selected value="">All Services</option>
            <option value="Car Wash">Car Wash</option>
            <option value="Tow">Tow</option>
            <option value="Oil Change">Oil Change</option>
            <option value="Tires">Tires</option>
            <option value="Pop-A-Lock">Pop-A-Lock</option>
            <option value="Jumpstart">Jumpstart</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <a class="btn btn-light" href="/request">New Request</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 blog-container">
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
  <script src="/js/blog.js" type="text/javascript"></script>