<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/logo.png">
      <h3 class="text-center">Account Register</h3>
      <form>
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input id="companyName" type="text" class="form-control" name="companyName" required>
        </div>
        <div class="form-group">
          <label for="companyService">Service</label>
          <input id="companyService" type="text" name="companyService" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="companyFirstName">First Name</label>
          <input id="companyFirstName" type="text" class="form-control" name="companyFirstName" required>
        </div>
        <div class="form-group">
          <label for="companyLastName">Last Name</label>
          <input id="companyLastName" type="text" name="companyLastName" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="companyEmail">Company Email</label>
          <input id="companyEmail" type="email" name="companyEmail" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="companyPassword">Password</label>
          <input id="companyPassword" type="password" name="companyPassword" class="form-control" required>


          <button id="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/company.js"></script>