<body>
  <header class="showcase">
    <div class="content">
      <img src="/image/buddy.png" class="logo" alt="Car Buddy">
      <div class="title">
        Car Buddy
      </div>
      <div class="text">
        Car problems? No problem.
      </div>
    </div>
    </div>
  </header>



  {{!-- Services --}}
  <section class="services">
    <div class="container grid-3 center">
      <div>
        <i class="fab fa-youtube fa-3x"></i>
        <h3>YouTube</h3>
        <p>Check out our YouTube channel to see what customers and companies are saying about their expreience with Car
          Buddy.</p>
        <a href="" class="btn btn-default">Click Here</a>

      </div>
      <div>
        <i class="fas fa-wrench fa-3x"></i>
        <h3>Services</h3>
        <p>As a customer you will be able to request services for you vehicle. (Oil Change, Towing, Car Wash, Jump-Start
          ETC.)
          .</p>
        <a href="/login" class="btn btn-default">Login</a>
        <br>
        <a href="/register" class="register">Register</a>
      </div>
      <div>
        <i class="fas fa-briefcase fa-3x"></i>
        <h3>Company</h3>
        <p>Logging into a company account allows you to accept incoming jobs and mark as complete when ready to
          receive payment.</p>
        <a href="/companylogin" class="btn btn-default">Login</a>
        <br>
        <a href="/companyregister" class="register">Register</a>
      </div>
    </div>
  </section>

  {{!-- About --}}
  <section class="about bg-light">
    <div class="container">
      <div class="grid-2">
        <div class="center">
          <i class="fas fa-laptop-code fa-10x"></i>
        </div>
        <div>
          <h3>About Us</h3>
          <p>We are passionate about building connections between responsible car owners and hardworking mechanics by
            producing an application that make people’s lives easier.</p>

          <p> Our vision is to sustain a presence in the auto repair and maintenance industry for years to come in the
            foreseeable future through strategic and innovative technology. Bringing business to not only small startups
            but also to the world’s biggest brands.</p>
        </div>
      </div>
    </div>
  </section>

  {{!-- Footer --}}
  <footer class="center bg-dark">
    <p>Car Buddy &copy; 2019</p>
  </footer>





  {{!-- <div id="container">
       
      <section id="main_content">
        <div id="head">
          <h1>Car Buddy</h1>
          <p class="sub_head">Car problems? No problem.</p>
          <p class="sub_head"></p>
        </div>
  
     
        <div id="homePage">

               <a href="/login" id="userLogin">User Login</a>
               <a href="/companylogin" id="userLogin">Company Login</a>
               <a href="/companyregister" id="companyRegister">Company Register</a>
               <a href="/register" id="userRegister">User Register</a>

        
        </div>
      </section> --}}
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/users.js"></script>
  <script src="/js/cookieCheck.js"></script>

</body>