
<body>
    <div id="container">
       
      <section id="main_content">
        <div id="head">
          <h1>Car Buddy</h1>
          <p class="sub_head">Car problems? No problem.</p>
          <p class="sub_head"></p>
        </div>
  
     
        <div id="homePage">

               <a href="/login" id="userLogin">User Login</a>
               <a href="/login" id="userLogin">Company Login</a>
        
        </div>
      </section>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/js/users.js"></script>

  </body>