{{!-- <br>

<div id="container">
  <div id="loginForm" class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <img class="logo" src="/image/buddy.png">
        <h3 class="text-center">Account Login</h3>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="userEmail">Email</label>
            <input id="userEmail" type="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="userPassword">Password</label>
            <input id="userPassword" type="password" name="password" class="form-control" required>
          </div>
          <button id="logsubmit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <a href="/register">Register</a>
      </div>
    </div>
  </div>
</div> --}}

<section>
  <div class="container">
    <div class="overlay"></div>
    {{!-- Login Box --}}
    <div class="login-box">
      <h1>Login</h1>
      <div class="alert alert-primary" style="display: none;" id="login-message" role="alert"></div>
      <div class="textbox">
        <i class="fas fa-user" aria-hidden="true"></i>
        <input id="userEmail" type="text" placeholder="Email" name="" value="">
      </div>
      <div class="textbox">
        <i class="fas fa-lock" aria-hidden="true"></i>
        <input id="userPassword" type="password" placeholder="Password" name="" value="">
      </div>
      <input id="logsubmit" type="button" class="btn" name="" value="Sign in">
    </div>
  </div>
</section>
{{!-- Footer --}}



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/users.js"></script>
<script src="/js/cookieCheck.js"></script>