<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/logo.png">
      <h3 class="text-center">Account Register</h3>
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input id="firstName" type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label for="userEmail">Email</label>
          <input id="userEmail" type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="vehicleType">Vehicle Type</label>
          <input id="vehicleType" type="text" name="vehicleType" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="vehicleMake">Vehicle Make</label>
          <input id="vehicleMake" type="text" name="vehicleMake" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="vehicleModel">Vehicle Model</label>
          <input id="vehicleModel" type="text" name="vehicleModel" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="vehicleYear">Vehicle Year</label>
          <input id="vehicleYear" type="text" name="vehicleYear" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="userPassword">Password</label>
          <input id="userPassword" type="password" name="password" class="form-control" required>
        </div>

        <button id="submit" class="btn btn-primary">Submit</button>

      </form>
      {{!-- <a href="/">Login</a> --}}
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/users.js"></script>