.well {
  color: #002d72;
}
.nameplate {
  color: red;
  text-align: center;
  font-size: 3.5rem;
}

body{
  background-size: 100%;
  background-image: url(https://images.unsplash.com/photo-1464851707681-f9d5fdaccea8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2210&q=80);
}

.row{

padding-top: 40px;
}

.text-center, .name {
  color: #720009;

}

.btn{
  color:white;
  background-color: #8bddf1;

}

