label {
    color: white;
    font-size: 30px;

}

body{
    background-image: url(https://images.unsplash.com/photo-1531579234-a0a99da45460?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);

}

.row{
    padding-top: 30px;
    padding-left: 50px;
}

#subButton{
    background-color: blue;
    color: white;

}